.pink{
    color: rgb(244, 86, 217);
    text-align: center;
    font-weight: bold;
}

hr{
    border: none;
    border-top: 2px solid rgb(197, 196, 196);
    width: 400px;

}

h2{
    text-align: center;
}

.poem {
    white-space: pre;
    font-family: serif; 
    font-style: italic;
    line-height: 1.6; 
    color: black; 
    margin-left: 20px;
}

.bold{
    font-weight: bold;
    white-space: pre;
}